# Xcode
#
build/
DerivedData/
*.hmap
*.ipa
*.xcuserstate
project.xcworkspace/xcuserdata/
project.xcworkspace/xcshareddata/swiftpm/package.resolved
*.xcuserdata
*.xccheckout
*.xcscmblueprint

# Swift Package Manager
#
.build/
.swiftpm/

# OS X
#
.DS_Store
profile
